/* 
   Layout for main section
*/
.main {
    height: 777px;
    background-image: url("../../../../public/image/Background-hero.jpg");
    background-position: center;
    background-size: cover;
 }
 
 .main__content {
    display: flex;
 }
 
 .main__content__left {
    display: flex;
    flex-direction: column;
    flex: 1.1;
    justify-content: center;
    row-gap: 2rem;
 }
 
 .main__content__right {
    flex: 1;
    width: 100%;
    min-height: 499px;
    background-image: url("../../../../public/image/Hero-image.svg");
    background-position: center;
    background-repeat: no-repeat;
 }
 
 .main__content__right .hero-image {
    width: 100%;
    height: auto;
    background-color: aliceblue;
 }
 
 /* 
    Main Content List Style
 */
 
 .main__content__left h1 {
    font-size: 3rem;
 }
 
 .main__content__left p {
    font-size: 18px;
    color: var(--white);
    opacity: 60%;
    line-height: 2rem;
 }
 
 .main__content__left__buttons {
    display: flex;
    column-gap: 1rem;
 }
 
 .main__content__left__buttons .btn--primary {
    background-color: var(--primary-color);
    border-radius: 100px;
    color: var(--white);
    padding: 5px 35px;
 }
 
 .main__content__left__buttons .btn--secondary {
    background: url("../../../../public/icons/play-icon.svg") no-repeat left 15% bottom 50%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
    padding: 5px 50px;
    color: var(--white);
 }
 
 /* 
    Main Content List Responsive
 */
 
 @media screen and (max-width: 1100px) {
    .wrapper {
       padding: 2rem 70px;
    }
 
    .main {
       height: auto;
    }
    .main__content {
       flex-direction: column-reverse;
       text-align: center;
    }
 
    .main__content__left {
       display: flex;
       flex-direction: column;
       flex: 1.1;
       justify-content: center;
       row-gap: 2rem;
    }
    
    .main__content__right {
       background-size: contain;
    }
    .main__content__left__buttons {
       justify-content: center;
    }
 }
 
 @media screen and (max-width: 768px) {
    .main__content {
       flex-direction: column;
    }
    
    .main__content__left h1 {
       font-size: 2.5rem;
    }
 
    .main__content__left__buttons {
       flex-direction: column;
       row-gap: 1rem;
    }
 }