@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Source+Serif+Pro:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0D082C;
    --secondary-color: #474E68;
    --tertiary-color: #50577A;
    --quaternary-color: #4635F3;

    --white: #ffffff;
    --fifyty-color: #d0d30e;
    
    --font-family-primary: 'Merriweather', serif;
    --font-family-secondary: 'Source Sans Pro', sans-serif;
    --font-family-tertiary: 'Source Serif Pro', serif;
    --font-family-quaternary: 'DM Sans', sans-serif;
}

h1, h2 {
    font-family: var(--font-family-tertiary);
    color: var(--white);
}

h4, h3 {
    font-family: var(--font-family-primary);
    font-weight: 700;
}

p {
    font-family: var(--font-family-secondary);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    min-width: 44px;
    min-height: 44px;
    line-height: 50px;
    box-shadow: transparent;
    transform: translateY(0); 
    transition: transform 0.2s; 
}

a:hover {
    transform: translateY(-6px); 
}

ul {
    display:  flex;
}

li {
    list-style: none;
    position: relative;
}

li span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--white);
    transition: width 0.2s;
    margin: auto;
}

li:hover span {
    width: 100%;
  }
li span:hover {
    width: 0;
  }

.wrapper {
    padding: 2rem 120px;
}

.d-flex {
    display: flex;
    column-gap: 2.5rem;
}

.navbar button {
    display: none;
    min-width: 44px;
    min-height: 44px;
}

.main__content {
    height: auto;
}

@media screen and (max-width: 950px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar__navigation {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: ease-in 0.3s;
    }

    .navbar__navigation.active {
        background-color: rgb(53, 96, 189);
        opacity: 1;
    }

    .navbar__navigation ul, .navbar__buttons {
        display: block;
    }

    .navbar button {
        z-index: 100;
        display: block;
    }

}

@media screen and (min-width: 900px) {
    .navbar__navigation {
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 2rem 33px;
    }
}
